.abt-containers {
  width: 65%;
  margin: 0 auto 30px auto;
  display: grid;
  /* TODO: FIX CONTAINERS TOTAL */
  grid-template-columns: 49% 49%;
  column-gap: 2%;
}

.abt-panel1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.abt-link {
  color: inherit;
}

.abt-panel1 > p {
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.08em;
}

.abt-panel2 {
  font-size: 1.1em;
  letter-spacing: 0.04em;
}

#abt-bodyText {
  margin-top: 0;
}

.abt-panel2 > strong {
  font-style: italic;
}

.tools-header {
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: -5px;
}

.abt-grid {
  display: grid;
  grid-template-columns: 50% auto;
}

.tool-item {
  margin: 10px;
  display: flex;
  align-items: center;
}

.tool-icon {
  margin-right: 10px;
  color: inherit;
}

.svg {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 1000px) {
  .abt-containers {
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  .abt-containers {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .abt-panel1 > p {
    font-size: 2.3em;
  }

  .abt-panel2 {
    padding: 20px 10px;
  }

  .tools-header {
    margin-bottom: 20px;
  }
}
