.cnt-title {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.04em;
}

.cnt-line {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.cnt-line > a {
  color: inherit;
}

.cnt-icon {
  font-size: inherit;
}

/* MOBILE QUERY FOR CONTACT ELEMENTS ARE IN (./Pojects.css) */
