.modal-bkg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgb(0, 0, 0, 0.3);
}

.modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 5px;
}

.modal-body {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  letter-spacing: 0.04em;
}

.modal-txt {
  text-align: center;
}

.modal-title {
  font-weight: 800;
  font-size: 2em;
  text-align: center;
}

.modal-desc {
  font-size: 1.25em;
}

.modal-content {
  display: grid;
  grid-template-columns: 65% auto;
  border-radius: 5px;
}

.slides {
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 5px 0 0 5px;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.slides .slick-prev {
  left: 1%;
}
.slides .slick-next {
  right: 1%;
}

.slick-dots {
  bottom: 2%;
}

.slick-track {
  height: 25vw;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.dsk-gif {
  width: 45vw;
}

.link-btn {
  width: 80%;
  padding: 15px 0;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 800;
}

@media only screen and (max-width: 1000px) {
  /* PROJECT MODALS */
  .carousel-container {
    display: none;
  }

  .modal-container {
    width: 95%;
    text-align: center;
  }

  .modal-content {
    grid-template-columns: auto;
  }
}
