.contact-and-prjc {
  width: 65%;
  margin: 100px auto 0 auto;
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
}

.prjc-header {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.08em;
  border-radius: 10px;
}

#prjc-title-text {
  margin-block-start: 33px;
  margin-block-end: 33px;
}

.prjc-display {
  margin: 5vw 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
  row-gap: 35px;
}

.prjc-item {
  height: 10vw;
  text-align: center;
}

.prjc-imgdiv {
  height: 8vw;
  margin-bottom: 1vw;
  border-radius: 5px;
}

.prjc-imgdiv:hover {
  cursor: pointer;
  margin-top: -10px;
}

.prjc-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.prjc-title {
  font-size: 1.25em;
  font-weight: 600;
}

@media only screen and (max-width: 1100px) {
  /* INCLUDES THE CONTACT MEDIA QUERY */
  .contact-and-prjc {
    width: 95%;
  }

  .prjc-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prjc-item {
    height: 250px;
    width: 300px;
  }

  .prjc-imgdiv {
    height: 150px;
  }
}

@media only screen and (max-width: 700px) {
  /* INCLUDES THE CONTACT MEDIA QUERY */
  .contact-and-prjc {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  /* CONTACT PAGE */

  .cnt-container {
    width: 100%;
    margin-bottom: 100px;
  }

  .cnt-line {
    font-size: 1.25em !important;
    letter-spacing: 0;
  }

  .gb-container {
    height: 15vw;
  }

  .prjc-container {
    width: 100%;
  }

  .prjc-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prjc-item {
    height: 200px;
    width: 290px;
  }

  .prjc-imgdiv {
    height: 140px;
    box-shadow: none;
  }
}
