.page-container {
  margin: 10vw;
}

/* 
FIXME: padding for HEADER should line up with grid items 
*/
.home-header {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "projects projects . ."
    "projects projects . .";
}

.gridItem {
  height: 90%;
  width: 90%;
  margin: 15px;
  justify-self: center;
  align-self: center;
}

.gridItem-text {
  margin: 30px;
  text-align: center;
}

.projects {
  grid-area: projects;
  height: 95%;
  width: 95%;
}
